@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7; /* Off-white for background */
  --foreground: #333333; /* Dark Gray for text */
  --primary-blue: #4a90e2; /* Primary Blue */
  --secondary-green: #4caf50; /* Secondary Green */
  --accent-orange: #f5a623; /* Accent Orange */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: var(--primary-blue);
}

.text-primary {
  color: var(--primary-blue);
}

.bg-secondary {
  background-color: var(--secondary-green);
}

.text-secondary {
  color: var(--secondary-green);
}

.bg-accent {
  background-color: var(--accent-orange);
}

.text-accent {
  color: var(--accent-orange);
}

.btn {
  @apply text-white font-semibold py-2 px-4 rounded-lg transition;
}

.btn-primary {
  @apply bg-primary hover:bg-opacity-80;
}

.btn-secondary {
  @apply bg-secondary hover:bg-opacity-80;
}

.transition-max-height {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.highlight-box {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Fondo blanco con 50% de transparencia */
  border-radius: 8px; /* Bordes redondeados */
}

.highlight-box-solid {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fondo blanco con 50% de transparencia */
  border-radius: 8px; /* Bordes redondeados */
}
